<h1 id="tableLabel">Justice League Members</h1>

<p *ngIf="!justiceLeagueMembers"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="justiceLeagueMember">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Alias</th>
      <th>Age</th>
      <th>Member Since</th>
      <th>Active Member?</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let member of justiceLeagueMember">
      <td>{{member.id}}</td>
      <td>{{member.name}}</td>
      <td>{{member.alias}}</td>
      <td>{{member.age}}</td>
      <td>{{member.memberSince | date: 'shortDate'}}</td>
      <td>{{member.isActiveMember ? 'Yes' : 'No' }}</td>
    </tr>
  </tbody>
</table>

<div class="row">
  <div class="col-2"><label>Name</label></div>
  <div class="col-6"><input type="text" [(ngModel)]="newMember.Name" placeholder="Name" class="text" /></div>
</div>

<div class="row">
  <div class="col-2"><label>Alias</label></div>
  <div class="col-6"><input type="text" [(ngModel)]="newMember.Alias" placeholder="Alias" class="text" /></div>
</div>

<div class="row">
  <div class="col-2"><label>Age</label></div>
  <div class="col-6"><input type="number" [(ngModel)]="newMember.Age" placeholder="Age" class="smallInput" /></div>
</div>

<div class="row">
  <div class="col-2"><label>Member Since</label></div>
  <div class="col-6"><input type="date" [(ngModel)]="newMember.memberSince"/></div>
</div>

<div class="row">
  <div class="col-2"><label>Active Member?</label></div>
  <div class="col-6"><input type="checkbox" [(ngModel)]="newMember.isActiveMember" /></div>
</div>

<div class="row">
  <div class="col-2"><button class="btn btn-primary" (click)="addMember()">Save</button></div>
</div>
